
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Jaro:opsz@6..72&family=Rubik+Wet+Paint&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.protest-guerrilla-regular {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gugi-regular {
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.4rem;
  /* background: linear-gradient(135deg, #3894b3, #60e9d6cc); */
  /* background: linear-gradient(135deg, #f5d561, #fcf681cc);  */
  background: #FFC98B;
}

.input-container {
  text-align: center;
  width: 40vw;
  position: relative;
}

.input-container input {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  width:50%;
  padding-left: .5rem;
  padding-bottom: .5rem;
  height: calc(1vh*.7rem);
  
  

  outline: none; 
}

.input-container input:focus {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.wrapper-container {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  background-color: #FBEEE6;
  border-radius: 8px; 
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 43rem;
  min-height: 80vh;
}

.input-container button{
  all: unset;
  height: 1rem;
  margin-top: 5px;
  /* padding-bottom: 5px; */
}

.input-container span {
  font-size: 25px;
  font-weight: 600;
  color: #000;
}

.input-row{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: .65rem;
}

.weather-icon{
  height: 30%;
  width: 5rem;
  text-align: center;
}

.data-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 500;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /* color: #25d8f4; */
  color: #05d2fb;
}

.heading{
  color: #eead09;
  font-size: 1.9rem;
  font-weight: bold;
  
}
.city-name{
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  padding-top: 2rem;
  /* color: #eead09; */
  color: #ffbb0f;
}


.coord-col div{
  padding: 1rem;
}

.coord-col{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.img-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
 } 

 .wind, .humidity{
  text-align: center;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }